{% extends "base.html" %}

{% block content %}
    {% if list.0 %}
        {% load staticfiles %}
        <script id="varibles" data-make-follow-url="{% url 'MyInstagram_make_follow' %}"
            src="{% static 'js/my-instagram-follow.js' %}" type="text/javascript"></script>
        <div class="container text-center" style="margin-top: 20px">
            <div class="row text-center">
                <h2>
                    {% block header %}
                    {% endblock header %}
                </h2>
            </div>
            <div class="row text-center" style="margin-top: 15px;">
                <div class="col-md-1">
                </div>

                {% for list_col in list %}

                    <div class="col-md-5 text-center">
                        {% for lst in list_col %}
                            <div class="row">
                                <div class="col-md-{% if user.is_authenticated %}8{% else %}12{% endif %}">
                                    <a href="{% url 'MyInstagram_user_url' lst.user.username %}">
                                        <div class="btn btn-info text-center" style="height: 50px;
                                                                                     margin-top:2px;
                                                                                     margin-bottom: 2px;
                                                                                     width: 100%;">
                                            <div class="row text-center">
                                                <div class="col-md-6 text-left">
                                                    <h4 style="margin-top: 7px;">
                                                        <span class="glyphicon glyphicon-user"></span>
                                                        {{ lst.user.username }}
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                {% if not user.username == lst.user.username and user.is_authenticated %}
                                    <div class="col-md-4" style="height: 50px;
                                                                 margin-left: -29px;
                                                                 margin-bottom: 2px;
                                                                 margin-top: 2px;">
                                        <button class="btn btn-default" type="button" id="follow-{{ lst.user.username }}"
                                                onclick="make_follow('{{ lst.user.username }}', false)" style="width: 100%;
                                                                                                         height: 100%;
                                                                                                         display: {% if lst.follow %}
                                                                                                                      none
                                                                                                                  {% else %}
                                                                                                                        block
                                                                                                                  {% endif %};">
                                            Follow
                                        </button>
                                        <button class="btn btn-success" type="button" id="unfollow-{{ lst.user.username }}"
                                                onclick="make_follow('{{ lst.user.username }}', true)"  style="width: 100%;
                                                                                                           height: 100%;
                                                                                                           padding-bottom: 0px;
                                                                                                           padding-top: 0px;
                                                                                                           display: {% if lst.follow %}
                                                                                                                        block
                                                                                                                    {% else %}
                                                                                                                        none
                                                                                                                    {% endif %};">
                                            Following
                                        </button>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>

                {% endfor %}

                <div class="col-md-1">
                </div>
            </div>
        </div>
    {% else %}
        <p>
            {% block no-list %}
            {% endblock no-list %}
        </p>
    {% endif %}
{% endblock content %}