{% extends "base.html" %}

{% block content %}
    <script>
        function sign_up() {
            $('#sign_in').css("display", "none");
            $('#sign_up').css("display", "block");
        }

        function sign_in() {
            $('#sign_in').css("display", "block");
            $('#sign_up').css("display", "none");
        }
    </script>
    <div class="container text-center" style="margin-top: 40px;">
        <div class="row" style="display: {% if first %}none{% else %}block{% endif %};" id="sign_in">
            <div class="col-md-12">
                {% for error in login_form.non_field_errors %}
                    <h5 style="color: red; padding-left: 80px; margin-top: 0px;">
                        {{ error }}
                    </h5>
                {% endfor %}
                <form class="form-horizontal" action="{% url 'MyInstagram_login_page' %}"
                      method="post" novalidate="novalidate">{% csrf_token %}
                    {% for field in login_form %}
                        {% if not field.is_hidden %}
                        <div class="form-group {% if login_form.non_field_errors %}
                                                    has-error
                                                {% endif %}" style="margin-bottom: 0px;">
                            <div class="col-md-5 text-right">
                                <h4>{{ field.label_tag }}</h4>
                            </div>
                            <div class="col-md-3 text-left" style="margin-top: -5px; margin-left: -5px;">
                                <h4>{{ field }}</h4>
                            </div>
                        </div>
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <div class="row">
                        <div class="col-md-5 text-right">
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <div class="form-group col-md-6 text-right" style="padding-right: 57px">
                                    <button type="submit" class="btn btn-success">Log in</button>
                                </div>
                                <div class="form-group col-md-6 text-left" style="padding-left: 98px">
                                    <button type="button" class="btn btn-info" onclick="sign_up()">Sign up</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row" style="display: {% if first %}block{% else %}none{% endif %};" id="sign_up">
            <div class="col-md-12">
                {% for error in register_form.non_field_errors %}
                    <h5 style="color: red; padding-left: 80px; margin-top: 0px;">
                        {{ error }}
                    </h5>
                {% endfor %}
                <form class="form-horizontal" action="{% url 'MyInstagram_register_page' %}"
                      method="post" novalidate="novalidate">{% csrf_token %}
                    {% for field in register_form %}
                        {% if not field.is_hidden %}
                        <div class="form-group {% if field.errors %}
                                                    has-error
                                                {% elif field.value and field.label not in dont %}
                                                    has-success
                                                {% endif %}" style="margin-bottom: 0px;">
                            <div class="col-md-5 text-right">
                                <h4>{{ field.label_tag }}</h4>
                            </div>
                            <div class="col-md-3 text-left" style="margin-top: -5px; margin-left: -5px;">
                                <h4>
                                    {{ field }}
                                    {% for error in field.errors %}
                                        <span style="color: red; font-size: 12pt;">
                                            {{ error }}
                                        </span>
                                    {% endfor %}
                                </h4>
                            </div>
                        </div>
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <div class="row">
                        <div class="col-md-5 text-right">
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <div class="form-group col-md-6 text-right" style="padding-right: 48px">
                                    <button type="submit" class="btn btn-success">Sign up</button>
                                </div>
                                <div class="form-group col-md-6 text-left" style="padding-left: 108px">
                                    <button type="button" class="btn btn-info" onclick="sign_in()">Log in</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}