{% extends "base.html" %}


{% block title %}
    {{ username }} - MyInstagram
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <h2>
                    <a href="{% url 'MyInstagram_user_url' username %}">{{ username }}</a>
                    <small style="font-size: 13px;">
                        {% if user.last_name or user.first_name %}
                            <p style="margin-top: 2px; margin-bottom: 2px;">
                            {% if user.last_name %}
                                {{ user.last_name }}
                            {% endif %}
                            {% if user.first_name %}
                                {{ user.first_name }}
                            {% endif %}
                            </p>
                        {% endif %}

                        {% if user.city %}
                            <p style="margin-top: 0px;">
                            {{ user.city.city }}
                            </p>
                        {% endif %}
                    </small>
                </h2>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <a href="{% url 'MyInstagram_user_url' username %}">
                            <h3><span class="glyphicon glyphicon-picture"></span> {{ posts_count }}<br /> Posts</h3>
                        </a>
                    </div>
                    <div class="col-md-4 text-center">
                        <a href="{% url 'MyInstagram_user_following' username %}">
                            <h3><span class="glyphicon glyphicon-user"></span> {{ subscriptions_count }}<br /> Following</h3>
                        </a>
                    </div>
                    <div class="col-md-4 text-center">
                        <a href="{% url 'MyInstagram_user_followers' username %}">
                            <h3><span class="glyphicon glyphicon-user"></span> {{ subscribers_count }}<br /> Followers</h3>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

    <div class="container textcenter" style="margin-top: 20px;" id="photos">
        {% if post_count == 0 %}
            <p>{{ username }} don't have posts</p>
        {% else %}
        {% endif %}
    </div>

    {% load staticfiles %}
    <script id="varibles" data-per-page="{{ PER_PAGE }}" data-next-posts-url="{% url 'MyInstagram_next_posts' %}"
            data-username="{{ username }}" src="{% static 'js/my-instagram-auto-post-scroll-in-profile.js' %}"
            type="text/javascript"></script>
{% endblock content %}