<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ post.user.username }} post - MyInstagram</title>
</head>
<body>
    <p>Created by <a href="{% url 'MyInstagram_user_url' post.user.username %}">{{ post.user.username }}</a></p>
    <img src="{{ post.photo.photo.url }}">
    <p>
        <a href="{% url 'MyInstagram_post_likes_url' post.id %}">Likes: {{ post.like_users.count }}</a>
        Created: {{ post.date_time|date:"d M Y, H:i:s" }}
    </p>
    <div>
        <p>Comments:</p>
        {% if comments %}
        <ul>
            {% for comment in comments %}
                <li><a href="{% url 'MyInstagram_user_url' comment.user.username %}">{{ comment.user.username }}</a>
                    write "{{ comment.text }}" in {{ comment.date_time|date:"d M Y, H:i:s" }}</li>
            {% endfor %}
        </ul>
        {% else %}
            <p>No comments</p>
        {% endif %}
    </div>
</body>
</html>