<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ username }} {{ mode }} - MyInstagram</title>
</head>
<body>
{% if subs %}
    <a href="{% url 'MyInstagram_user_url' username %}">{{ username }}</a> {{ mode }}:
    <ul>
    {% for sub in subs %}
        <li><a href="{% url 'MyInstagram_user_url' sub.username %}">{{ sub.username }}</a></li>
    {% endfor %}
    </ul>
    {% if page > 1 or next_page %}
        <p>
            {% if page > 1 %}
                <a href="{% url 'MyInstagram_user_subs_page_url' username=username mode=mode page=page|add:'-1' %}">&lt;&lt;Prev</a>
            {% endif %}
            {% if next_page %}
                <a href="{% url 'MyInstagram_user_subs_page_url' username=username mode=mode page=page|add:'1' %}">Next&gt;&gt;</a>
            {% endif %}
        </p>
    {% endif %}
{% else %}
    <p><a href="{% url 'MyInstagram_user_url' username %}">{{ username }}</a> don't have {{ mode }}!</p>
{% endif %}
</body>
</html>