{% extends "base.html" %}


{% block title %}
    {{ username }} - MyInstagram
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <h2>
                    <a href="{% url 'MyInstagram_user_url' username %}">{{ username }}</a>
                    <small style="font-size: 13px;">
                        {% if user.last_name or user.first_name %}
                            <p style="margin-top: 2px; margin-bottom: 2px;">
                            {% if user.last_name %}
                                {{ user.last_name }}
                            {% endif %}
                            {% if user.first_name %}
                                {{ user.first_name }}
                            {% endif %}
                            </p>
                        {% endif %}

                        {% if user.city %}
                            <p style="margin-top: 0px;">
                            {{ user.city.city }}
                            </p>
                        {% endif %}
                    </small>
                </h2>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <a href="{% url 'MyInstagram_user_url' username %}">
                            <h3>{{ posts_count }}<br /> Posts</h3>
                        </a>
                    </div>
                    <div class="col-md-4 text-center">
                        <a href="{% url 'MyInstagram_user_subs_url' username 'subscriptions' %}">
                            <h3>{{ subscriptions_count }}<br /> Following</h3>
                        </a>
                    </div>
                    <div class="col-md-4 text-center">
                        <a href="{% url 'MyInstagram_user_subs_url' username 'subscribers' %}">
                            <h3>{{ subscribers_count }}<br /> Followers</h3>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>


    {% if posts %}
        <ul>
        {% for post in posts %}
            <li>
                <a href="{% url 'MyInstagram_post_url' post.id %}">
                    <img src="{{ post.photo.photo.url }}" alt="{{ username }} post {{ post.id }}" class="img-thumbnail" width="20%"  />
                    <br />
                    <p>
                        Likes: {{ post.like_users.count }}
                        Comments: {{ post.comments.count }}
                    </p>
                </a>
            </li>
        {% endfor %}
        </ul>
        {% if page > 1 or next_page %}
        <p>
            {% if page > 1 %}
                <a href="{% url 'MyInstagram_user_page_url' username=username page=page|add:'-1' %}">&lt;&lt;Prev</a>
            {% endif %}
            {% if next_page %}
                <a href="{% url 'MyInstagram_user_page_url' username=username page=page|add:'1' %}">Next&gt;&gt;</a>
            {% endif %}
        </p>
        {% endif %}
    {% else %}
        <p>{{ username }} don't have posts</p>
    {% endif %}
{% endblock content %}